*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
::-webkit-scrollbar {
  width: 15px;
  opacity: 0;
}
.hamburger-menu{
  background-color: #161616;
  padding: 15px;
}
.menu_none {
  margin-left: auto;
  display: flex;
}
#menu__toggle {
  display: none;
}
.menu__box {
  float: right;
  margin-right: 517px;
}
.menu__box {
  list-style: none;
}

.menu__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 6px;
}

.menu__box a {
  display: inline-block;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  color: #fff;
  margin-left: 29px;
  font-weight: 500;
  -webkit-text-decoration: auto;
  text-decoration: auto;
  padding: 10px 5px;
}

.menu__box a:hover {
  color: #d3d3d3;
}
.menu_none:hover .dropdown-child {
  display: block;
}


::-webkit-scrollbar-track {
  background: #0d0d0d;
}

::-webkit-scrollbar-thumb {
  background: #323232;
}
body{
  background-color: #0c0c0c;
}
.site-logo img {
  width: 4%;
  margin-top: 0px;
  margin-left: 10%;
}
.container {
  background-color: #fff;
  width: 438px;
  height: 280px;
  border-radius: 11px;
  display: block;
  padding: 20px;
  padding-top: 40px;
  margin-left: auto;
  margin-top: 8%;
  margin-right: auto;
  transition: .1s;
  margin-bottom: 30px;
}
.header h1 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 19px;
  display: flex;
  justify-content: center;
  font-family: "Roboto", sans-serif;
}

.header p{
  font-size: 16px;
  margin-bottom: 10px;
}

input, button{
  width: 100%;
  height: 50px;
  outline: none;
  border-radius: 5px;
}

button{
  border: none;
  background-color: #0066ff;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
}
button:hover{
  background-color: #1573ff;
}

input{
  border: 1px solid #8b8a8a;
  padding-left: 10px;
  margin-bottom: 15px;
  font-size: 15px;
}

.qr-code{
  padding: 25px 0;
  border: 1px solid #ccc;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  opacity: 0;
  pointer-events: none;
  transition: .5s;
}

.container.active{
  height: 490px;
}

.container.active .qr-code{
  opacity: 1;
  pointer-events: auto;
}
.footer-menu li a {
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  text-decoration: auto;
  color: #aeaeae;
  margin-left: 37px;
}
.it-personality {
  color: #ff0000;
  margin-left: 4px;
  text-decoration: auto;
  display: flex;
  transition: 0.5s;
}
.it-personality:hover {
  color: #0fffcf;
}
.email {
  color: #25ffd3;
  justify-content: center;
  display: flex;
  font-size: 120%;
  margin-top: 15px;
}
.footer-section h6 {
  display: flex;
  font-size: 15px;
  color: #fff;
  margin-top: -6px;
  text-decoration: auto;
  font-family: "Roboto", sans-serif;
  padding-right: 482px;
}
.footer-section {
  overflow: hidden;
  background: #101010;
  margin-top: 9%;
  padding: 31px;
}
.footer-menu {
  display: flex;
  justify-content: center;
  margin-top: 1px;
  align-items: baseline;
}
.footer-menu li {
  display: inline;
}


@media screen and (max-width: 600px) {
  .hamburger-menu {
    position: relative;
    z-index: 4;
    width: 100%;
    height: 28%;
    padding: 11px 0;
    background-color: #090909;
}
.site-logo img {
  width: 13%;
  margin-left: 9%;
  margin-top: 0%;
}
.menu__btn {
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: fixed;
  top: 20px;
  margin-left: 86%;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}
  
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #ffffff;
  }
  
  .menu__btn > span::before {
    content: "";
    top: -8px;
  }
  
  .menu__btn > span::after {
    content: "";
    top: 8px;
  }
  .menu__box {
    display: -ms-grid;
    display: grid;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    text-align: center;
    background-color: #0e0e0e;
    -webkit-box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
    box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
  }  
  .menu__box a {
    display: inline-block;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
    font-weight: 500;
    -webkit-text-decoration: auto;
    text-decoration: auto;
    padding: 11px 0px;
  }

  #menu__toggle:checked ~ .menu__btn > span {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }

  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
  }

  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    -webkit-transition-duration: 0.25s;
    transition-duration: 0.25s;
  }

  .menu__box {
    -webkit-transition-duration: 0.25s;
    transition-duration: 0.25s;
  }
  .container {
    background-color: #fff;
    width: 343px;
    height: 280px;
    border-radius: 11px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    padding-top: 41px;
    margin-top: 24%;
    transition: .1s;
}
.menu_none {
  margin-left: auto;
  display: contents;
}
.footer-section {
  overflow: hidden;
  background: #121212;
  margin-top: 21%;
  padding: 17px;
}
.footer-section h6 {
  color: #fff;
  font-size: initial;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  padding-right: 0px;
  margin-left: 57px;
  margin-top: 9%;
  margin-bottom: 5%;
}
.footer-menu {
  margin-bottom: 4%;
  text-align: center;
  display: block;
  margin-left: -16%;
}
.footer-menu li a {
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  color: #aeaeae;
  margin-top: 14px;
  margin-left: 44px;
}
  .footer-menu li a {
    color: #aeaeae;
  }
}